.chips {
}

<header class="main__section-header">
            <h2 class="main__section-header-text">Фишечки</h2>
            <p class="main__section-text">Чем мы лучше остальных? Чем-то то и лучше!</p>
        </header>