.interior {
}

<header class="main__section-header">
            <h2 class="main__section-header-text">Интерьер</h2>
            <p class="main__section-text">При входе к нам вы просто упадете!<br>Мы не заделали дыру в полу под порогом</p>
        </header>