.menu {
} 

<header class="main__section-header menu__header">
            <h2 class="main__section-header-text">Меню</h2>
            <p class="main__section-text">Вкус просто сводит с ума (И это не лечится)</p>
        </header>