.main {
}

      <!-- main -- >
  <main class="body__main main">

       <!-- cover -->
    <section id="cover" class="main__section cover">
    </section>

    <!-- menu -->
    <section id="menu" class="main__section menu">
    </section>

    <!-- chips -->
    <section id="chips" class="main__section chips">
    </section>

    <!-- interior -->
    <section id="interior" class="main__section interior">
    </section>

    <!-- reviews -->
    <section id="reviews" class="main__section reviews">
    </section>

    <!-- reservation -->
    <section id="reservation" class="main__section reservation">
    </section>

    </main>

    <!-- cover -->
    <section id="cover" class="main__section cover">
        <div class="main__section-container container">
        </div>
    </section>

    <!-- menu -->
    <section id="menu" class="main__section menu">
        <div class="main__section-container container">
        </div>
    </section>

    <!-- chips -->
    <section id="chips" class="main__section chips">
        <div class="main__section-container container">
        </div>
    </section>

    <!-- interior -->
    <section id="interior" class="main__section interior">
        <div class="main__section-container container">
        </div>
    </section>

    <!-- reviews -->
    <section id="reviews" class="main__section reviews">
        <div class="main__section-container container">
        </div>
    </section>

    <!-- reservation -->
    <section id="reservation" class="main__section reservation">
        <div class="main__section-container container">
        </div>
    </section>

    .main {
}



.main__section-container {
}

.main {
}

.main__section {
}


.main__section-header {
}

.main__section-header-text {
}

.main__section-text {
}
.main__section {
        min-height: 100vh;
        display: flex;
        padding-top: var(--header-height);
        padding-bottom: 2rem;
    }
    .main__section-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        position: sticky;
        top: var(--header-height);
        z-index: 20;
    }
    .main__section-header-text {
        display: flex;
        align-items: center;
        font-size: 4rem;
        font-family: "Open Sans 600", sans-serif;
    }
    .main__section-text {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        font-family: "Open Sans italic", sans-serif;
    }
    .main__section-block {
        width: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .main__section-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main__section-container_reverse {
        flex-direction: row-reverse;
    }
    /* ----------------media---------------- */
@media screen and (max-width: 1280px) {
    .main__section {
        min-height: auto;
        padding-bottom: var(--header-height);
    }
    .main__section-container,
    .main__section-container_reverse {
        flex-direction: column;
        justify-content: flex-start;
    }
    .main__section-header {
        margin-bottom: 5rem;
        position: relative;
        top: 0;
    }
}
@media screen and (max-width: 1000px) {
    .main__section-text {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 768px) {
    .main__section-text {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 420px) {
    .main__section-text {
        font-size: 1.9rem;
    }
}
    